.button-list__item {
  .firts-btn {
    background-color: #d41342;
    border: #d41342;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    // text-align: center;
    padding: 10px 19px;

    color: #ffffff;
  }

  .second-btn {
    background-color: #ffffff;
    border: #ebe6e6;
    color: #d41342;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    // text-align: center;
    padding: 10px 19px;
  }
}
