.contact-section {
  margin: auto;
  padding-bottom: 40px;
  background-image: linear-gradient(to bottom, $white_color 10%, $bg_color 10%);

  & > .container {
    margin: auto;
    padding: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contact-section {
    margin: auto;
    padding-bottom: 170px;

    & > .container {
      max-width: 768px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact-section {
    margin: auto;
    padding-bottom: 170px;

    & > .container {
      max-width: 1200px;
      padding: 0 35px;
    }
  }
}
