.unstyled-list {
    list-style-type: none;
    text-decoration: none;
    display: block;
  }
  .footer__section {
    position: relative;
    background-color: blue;
    min-width: 320px;
  }
  .main-menu-contacts {
  display: inline-block;
  }
  .container {
  }
  .footer__container {
    background-color: black;
  }
  .footer__text-box {
  }
  .footer__title {
  }
  .footer__title--one {
  }
  .footer__title--ice-cream {
  }
  .footer__title--made {
  }
  .footer__title--word {
  }
  .contacts-box {
  }
  .social-box {
  }
  .footer-social-box__links {
  }
  .footer-social-box__list {
  }
  .footer-social-box__link {
  }
  .footer-social-box__icon {
  }
  .contact-box {
  }
  .footer-contact-box__text {
  }
  .footer-contact-box__phone {
  }
  .footer-paragraf-box {
  }
  .footer-paragraf-box__text {
  }